.bg1 {
    -fx-background-color: white;
}

.exit-button {
    -fx-background-color: red;
    -fx-text-fill: black;
}

.gradient1 {
    -fx-background-color: linear-gradient(to top, #FFA62F, #FFE8C8);
}

.gradient2 {
    -fx-background-color: linear-gradient(to top, #FFE8C8, white);
}

.gradient3 {
    -fx-background-color: linear-gradient(to bottom right, #F3B664, #EC8F5E);
}

/*color theme*/
.light-coral {
    -fx-background-color: #EC8F5E;
}

.sunset-orange {
    -fx-background-color: #F3B664;
}

.pale-lemon {
    -fx-background-color: #F1EB90;
}

.sage-green {
    -fx-background-color: #9FBB73;
}
/*end defining theme*/

.round-box {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}


.round-box-card{
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

.small-round-box {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-background-color: #2980b9;
    -fx-text-fill: #ecf0f1;
}

.mouse-move:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.top-left-rounded {
    -fx-background-radius: 20 0 0 0; /* Top-left corner rounded, others sharp */
    -fx-border-radius: 20 0 0 0;
}

.top-right-rounded {
    -fx-background-radius: 0 20 0 0; /* Top-left corner rounded, others sharp */
    -fx-border-radius: 0 20 0 0;
}

.bottom-left-rounded {
    -fx-background-radius: 0 0 0 20; /* Top-left corner rounded, others sharp */
    -fx-border-radius: 0 0 0 20;
}

.rounded-pane-simple {
    -fx-background-radius: 20 20 20 20; /* Top-left corner rounded, others sharp */
    -fx-border-radius: 20 20 20 20;
    -fx-border-color: black;
}

.rounded-pane {
    -fx-background-radius: 25;     /* Radius for background */

    -fx-border-color: #000000;     /* Border color */
    -fx-border-width: 1;           /* Border width */
    -fx-border-radius: 25;         /* Radius for border */

    -fx-padding: 10;               /* Padding inside the pane */
}

.image-hover-effect {
    -fx-opacity: 1.0; /* Normal opacity */
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    -fx-cursor: hand; /* Change cursor to pointer */
}

.image-hover-effect:hover {
    -fx-opacity: 0.9; /* Lower opacity on hover */
    -fx-scale-x: 1.1; /* Scale up on hover */
    -fx-scale-y: 1.1;
}

.underlined-style {
    -fx-background-color: transparent;  /* Makes background transparent */
    -fx-border-width: 0 0 1 0;         /* Adds underline at the bottom */
    -fx-border-color: #F3B664;           /* Sets underline color */
    -fx-padding: 0 0 5 0;              /* Adjusts padding */
}

.bottom-border {
    -fx-border-color: transparent transparent black transparent;
    -fx-border-width: 0 0 2 0;
}

